Package: swpycv
Version: 0.1.1
Section: devel
Priority: optional
Architecture: amd64
Depends: python, libseawolf
Installed-Size: 309
Maintainer: ncsurobotics@ncsurobotics.com
Description: Helper routines for interfacing C libraries with ctypes that use OpenCV
